%li
  .chat-body
    %p.chat-body__username=message.user.name
    %p.chat-body__time=message.created_at
  %p.chat-body__message
    = message.body
    - if message.image?
      %br
      = image_tag(message.image.url)
