%li
  .chat-body
    %p.chat-body__username=message.user.name
    %p.chat-body__time=message.created_at
  = content_tag %p, message.body, class: chat-body__message do
    - if message.image?
      %br
      = image_tag(message.image.url)
