.alert {
  width: 100%;
  text-align: center;
  color: white;
}

#notice {
  background-color: blue;
}

#alert {
  background-color: red;
}

.chat-group-form__error {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
}

.chat-group-form__error h2{
  color: red;
}
