html {
  height: 100%;
  body {
    height: 100%;
      .contents{
        height: 100%;
        width:  100%;
        .main {
          width: calc(100% - 300px);
          height: 100%;
          float: left;
          position: relative;
         &-above {
             height: 120px;
             background-color: #FFF;
             border-bottom: 1px solid #eee;
              h2 {
              font-size: 20px;
              font-color: #333333;
              margin-bottom: 15px;
              padding-top: 35px;
              }
              p {
              font-size: 12px;
              color: #999999;
              }
              &__top {
              float: right;
              a {
                display: inline-block;
                margin: 28px 0;
                padding-right: 20px;
                padding-left: 20px;
                line-height: 40px;
                color: #38aef0;
                font-size: 14px;
                border: 2px solid;
               }
             }
          }
          &-bottom {
             background-color: #E6E6FA;
             height: calc(100% - 120px);
             ul {
              li {
                padding-bottom: 40px;
                .chat-body{
                  .chat-body__username{
                    font-size: 16px;
                    font-weight: bold;
                    float: left;
                  }
                }
              }
              li:first-child {
                padding-top: 46px;
              }
             }
             .new-message-form {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 20px 40px;
                background-color:#ddd;
                &__body {
                  float: left;
                  width: calc(100% - 115px);
                  height: 50px;
                  position: relative;
                  textarea {
                    width: 98%;
                    height: 50px;
                    border: none;
                    padding-left: 10px;
                    padding-top: 5px;
                    line-height: 40px;
                  }
                }
              }
          }
        }

        .wrap {
             margin-left: 40px;
             margin-right: 40px;
             }

          .chat-body__time {
            font-size: 12px;
            margin-left: 10px;
            color: #999999;
            float: left;
            padding-top: 3px;
          }

          .chat-body__message {
            padding-top: 10px;
            font-size: 14px;
            color: #434A54;
          }

          #form-send {
                    float: left;
                    display: inline-block;
                    width: 100px;
                    margin-left: 15px;
                    line-height: 50px;
                    color: #fff;
                    background-color: #38aef0;
                    text-align: center;
                    border: none;
                    padding: 0;
          }

          .new-message-form__body-file {
              position: absolute;
              top: 0;
              right: 10px;
              display: inline-block;
              width: 40px;
              height: 50px;
              line-height: 55px;
              text-align: center;
              cursor: pointer;
              color: #434A54;
          }

          #message_image {
            display: none;
          }
      }
  }
}
